<ion-header>
    <ion-toolbar>
        <ion-title>Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="articulos">
    <ion-card>
        <ion-label>Articulo: {{articulos.nombre}}</ion-label>
        <br>
        <ion-label>Detalle: {{articulos.descripcion}}</ion-label>
        <br>
        <ion-label>Precio: {{articulos.precio}} €</ion-label>
        <br>
        <h3>Detalles motor</h3>
        <ion-label>Vehiculo: {{articulos.vehiculo}}</ion-label>
        <br>
        <ion-label>Km: {{articulos.kilometros}}</ion-label>
        <br>
        <ion-label>Años: {{articulos.anyos}}</ion-label>
        <br>
        <h3>Detalles inmobiliaria</h3>
        <ion-label>Numero de habitaciones: {{articulos.numeroHabitaciones}}</ion-label>
        <br>
        <ion-label>Localidad: {{articulos.localidad}}</ion-label>
        <br>
        <h3>Detalles tecnologia</h3>
        <ion-label>Estado: {{articulos.estado}}</ion-label>
        <br>
    </ion-card>
</ion-content>
